.banner-container {
    margin-top: 104px;
    position: relative;
}

.banner-sub-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
}

.banner-marker {
    width: 80px;
    height: 2px;
    background-image: linear-gradient(90deg, #00C2FF 14.16%, #FF27C3 79.91%);
}

.banner-text {
    text-align: center;
    color: #fff;
}

.banner-btn {
    width: 260px;
    height: 64px;
    border-image-source: linear-gradient(90deg, #00C2FF, #FF27C3);
    border-image-slice: 1;
    border-width: 1px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-btn h5 {
    color: white;
}

@media screen and (min-width: 800px) {
    .banner-text {
        width: 842px;
        height: 168px;
    }
}