.banner-container {
    margin-top: 50px;
    position: relative;
    width: 100%;
}

.banner-image {
    width: 100%;
}

.banner-sub-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
}

.banner-marker {
    width: 10%;
    height: 2px;
    background-image: linear-gradient(90deg, #00C2FF 14.16%, #FF27C3 79.91%);
}

.banner-text {
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 120%;
}

.banner-btn {
    width: 150px;
    height: 30px;
    border-image-source: linear-gradient(90deg, #00C2FF, #FF27C3);
    border-image-slice: 1;
    border-width: 1px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-btn h5 {
    color: white;
    font-size: 12px;
    line-height: 120%;
}

@media screen and (min-width: 768px) {
    .banner-container {
        margin-top: 104px;
        position: relative;
        width: 100%;
    }

    .banner-text {
        width: 60%;
        font-size: 26px;
        line-height: 120%;
    }

    .banner-btn {
        width: 200px;
        height: 50px;
    }

    .banner-btn h5 {
        font-size: 16px;
        line-height: 120%;
    }

    .banner-marker {
        width: 80px;
        height: 2px;
    }
}

@media screen and (min-width: 1440px) {
    .banner-text {
        width: 842px;
        height: 168px;
        font-size: 40px;
        line-height: 48px;
    }

    .banner-btn {
        width: 260px;
        height: 64px;
    }

    .banner-btn h5 {
        font-size: 20px;
        line-height: 24px;
    }
    
}