.card-container {
    padding: 0 5%;
    margin-top: 40px;
}

.card-top-row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card1-container {
    width: 100%;
    height: fit-content;
}

.card1-image {
    width: 100%;
    height: 100%;
}

.card2-container {
    width: 100%;
    height: fit-content;
}

.card2-image {
    width: 100%;
    height: 100%;
}

.card-bottom-row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-overlay {
    width: 100%;
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #FFF;
}

.card-sub-container {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-left: 12px;
}

.card-header {
    margin: 0 16px 0 0;
}

.card-text {
    text-align: left;
    margin-top: 24px;
    padding-left: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    width: 90%;
    height: fit-content;
}

@media screen and (min-width: 768px) {
    .card-container {
        margin-top: 50px;
    }
    
    .card1-container {
        width: 50%;
    }
    
    .card2-container {
        width: 40%;
    }
    
    .card-sub-container {
        padding-top: 24px;
        padding-left: 12px;
    }
    
    .card-text {
        margin-top: 24px;
        padding-left: 12px;
        font-size: 14px;
        line-height: 120%;
        width: 90%;
        height: 72px;
    }

    .card-overlay {
        top: -50px;
    }
}

@media screen and (min-width: 1024px) {
    .card-container {
        padding: 0 80px;
        margin-top: 60px;
    }

    .card1-container {
        width: 50%;
        height: fit-content;
    }

    .card1-image {
        width: 100%;
    }

    .card2-container {
        width: 40%;
        height: fit-content;
    }

    .card2-image {
        width: 100%;
    }

    .card-overlay {
        top: -88px;
        width: 350px;
        height: 168px;
    }

    .card-text {
        margin-top: 24px;
        padding-left: 12px;
        font-size: 16px;
        line-height: 24px;
        width: 90%;
        height: 72px;
    }
}

@media screen and (min-width: 1440px) {
    .card-container {
        margin-top: 104px;
    }

    .card-top-row-container {
        flex-wrap: nowrap;
    }
    
    .card-bottom-row-container {
        flex-wrap: nowrap;
    }

    .card1-container {
        margin-right: 40px;
        height: 584px;
        width: 730px;
    }

    .card2-container {
        height: 584px;
        width: 510px;
    }

    .card1-image {
        width: 730px;
        height: 520px;
    }

    .card2-image {
        width: 510px;
        height: 520px;
    }

    .card-text {
        width: 352px;
        margin-top: 24px;
        padding-left: 24px;
    }

    .card-overlay {
        width: 400px;
    }
}
