.card-container {
    position: absolute;
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
}

.card-overlay {
    position: absolute;
    top: 416px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #FFF;
}

.card-sub-container {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-left: 24px;
}

.card-header {
    margin: 0 16px 0 0;
}

.card-text {
    text-align: left;
    margin-top: 24px;
    padding-left: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    width: 352px;
    height: 72px;
}

@media screen and (min-width: 800px) {
    .card-container {
        padding: 0 80px;
        margin-top: 104px;
    }

    .card1-container {
        margin-right: 40px;
    }

    .card-overlay {
        width: 400px;
        height: 168px;
    }

    .card1-image {
        width: 730;
        height: 520;
    }

    .card3-container {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin-top: 104px;
        margin-right: 40px;
    }

    .card4-container {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin-top: 104px;
        margin-right: 40px;
    }

    .card5-container {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin-top: 104px;
    }

}
