.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 5% 0 5%;
    background-color: #1A1C2F;
}

.footer-logo {
    justify-self: center;
    grid-column: 1/4;
}

.footer-text {
    color: white;
    grid-column: 1/4;
}

.footer-icon-container {
    grid-column: 1/4;
    display: flex;
    justify-content: center;
}

.footer-icon-link {
    color: white;
    padding: 0 10px;
}

.footer-services-container {
    display: none;
}

.footer-contact-container {
    grid-column: 1/4;
}

.footer-header { 
    color: white;
    grid-column: 1/4;
}