.footer-container {
    height: 400px;
    border-top: 1px solid #E5E5E5;
    margin-top: 120px;
}

.footer-sub-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.footer-faded-logo-container {
    position: relative;
}

.footer-logo-social-container {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-social-container {
    display: flex;
    justify-content: space-between;
    width: 144px;
    height: 24px;
}

.footer-twitter-container {
    width: 400px;
    height: 208px;
    border: 1px solid black;
}

@media screen and (min-width: 1024px) {
    .footer-faded-logo-container {
        width: 25%;
    }

    .footer-faded-logo {
        width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .footer-faded-logo-container {
        width: 400px;
    }
    
    .footer-faded-logo {
        width: 400px;
    }
}