.footer-container {
    border-top: 1px solid #E5E5E5;
    margin-top: 50px;
}

.footer-sub-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

.footer-faded-logo-container {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.footer-faded-logo {
    width: 100%;
}

.footer-logo-social-container {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-social-container {
    display: flex;
    justify-content: space-between;
    width: 144px;
    height: 24px;
}

.footer-twitter-container {
    width: 100%;
    height: 208px;
    border: 1px solid black;
}

@media screen and (min-width: 768px) {
    .footer-container {
        margin-top: 120px;
    }

    .footer-sub-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
    }
    
    .footer-faded-logo-container {
        width: 40%;
        margin-top: 0px;
    }
    
    .footer-social-container {
        width: 144px;
        height: 24px;
    }
    
    .footer-twitter-container {
        width: 40%;
        height: 208px;
    }
}

@media screen and (min-width: 1024px) {
    .footer-sub-container {
        padding: 0 80px;
    }

    .footer-faded-logo-container {
        width: 25%;
    }

    .footer-faded-logo {
        width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .footer-container {
        height: 400px;
    }
    
    .footer-faded-logo-container {
        width: 400px;
    }
    
    .footer-faded-logo {
        width: 400px;
    }

    .footer-twitter-container {
        width: 400px;
        height: 208px;
        border: 1px solid black;
    }
}