.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    overflow-x: hidden;
}

.header-logo {
  margin-top: 20px;
}

.nav-container {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 70%;
    height: 100%;
    transition: all 0.5s ease;
    overflow-x: hidden;
    background-color: white;
}

.nav-item {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.nav-item:hover {
    color: #F69350;
}

.nav-container.active {
    display: block;
    left: 30%;
    transition: all 0.5s ease;
}

.nav-menu-icon {
    color: black;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.nav-menu-icon:hover {
    cursor: pointer;
}

.nav-item h5 {
  margin: 0;
}

@media screen and (min-width: 960px) {
  .nav-menu-icon {
    display: none;
  }
  
  .nav-container {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    left: auto;
    
  }

  .nav-container.active {
    left: auto;
  }
  
  .nav-item-container {
    display: flex;
    margin-top: 0;
  }
  
  .nav-item {
    padding: 0 20px;
    overflow: hidden;
  }

  .nav-item.nav-search {
    padding-right: 0;
    height: 24px;
    width: 24px;
  }
} 