.App {
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
  color: #333;
}

p {
  font-family: 'Fira Sans', sans-serif;
  color: #333;
}

h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
}

h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}